<form [formGroup]="form" (ngSubmit)="login()">
    <div *ngIf="form.errors">
        Login or password is invalid.
    </div>
    <div *ngFor="let control of form.signupControls" class="form-group">
        <mat-form-field class="auth-input" >
            <input matInput [errorStateMatcher]="control.matcher" formControlName="{{control.modelProperty}}" type="{{control.type}}" placeholder="{{control.placeholder}}"/>
            <mat-error *ngFor="let message of control.getValidationMessages()">{{message}}</mat-error>
        </mat-form-field>
    </div>
    <div class="form-group">
        <button type="submit" mat-raised-button color="primary" class=".login-btn">Login</button>
    </div>
</form>