<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <table class="table table-bordered user-table-info">
                <tr>
                    <td>
                        <b>Admins count</b>
                    </td>
                    <td colspan="2" class="text-center">
                        {{globalUserInfo?.adminsCount}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Managers count</b>
                    </td>
                    <td class="text-center">
                        {{globalUserInfo?.managersCount}}
                    </td>
                    <td class="text-center">
                        <span class="label label-danger">Danger Label</span>
                    </td>                 
                </tr>
                <tr>
                    <td>
                        <b>Salse count</b>
                    </td>
                    <td class="text-center">12</td>
                    <td class="text-center">
                        <span class="label label-danger">Danger Label</span>
                    </td>                    
                </tr>
            </table>
        </div>
        <div class="col-lg-6">
            <table class="table table-bordered user-table-info">
                <tr>
                    <td>
                        <b>Offices count</b>
                    </td>
                    <td colspan="2" class="text-center">
                        {{globalUserInfo?.adminsCount}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Received calls</b>
                    </td>
                    <td class="text-center">
                        {{globalUserInfo?.managersCount}}
                    </td>
                    <td class="text-center">
                        <span class="label label-danger">Danger Label</span>
                    </td>                 
                </tr>
                <tr>
                    <td>
                        <b>Closed deals</b>
                    </td>
                    <td class="text-center">12</td>
                    <td class="text-center">
                        <span class="label label-danger">Danger Label</span>
                    </td>                    
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
                <div class="form-group table-search-panel">
                    <mat-form-field>
                        <input [(ngModel)]="filter" (ngModelChange)="onFilterChange($event)" type="text" matInput placeholder="Search"/>
                        <mat-hint>Type to find user</mat-hint>
                    </mat-form-field>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <mat-card-title>
                <button (click)="create()" mat-button color="primary">Create</button>
            </mat-card-title>
            <mat-table [dataSource]="dataSource" matSort>                
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.id}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="groupName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Group</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.groupName}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="operations">
                        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                        <mat-cell *matCellDef="let user">
                                <button (click)="edit(user)" mat-button color="primary">Edit</button>
                                <button (click)="remove(user.id)" mat-button color="primary">Delete</button>
                        </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="pagination.columns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: pagination.columns">
                </mat-row>
            </mat-table>
            <mat-paginator #paginator
                            [length]="pagination.resultLength"
                            [pageSize]="10"
                            [pageSizeOptions]="[5,10,20]"
                            [showFirstLastButtons]="true"
                            (page)="onPageChanged($event)">
            </mat-paginator>
        </div>
    </div>
</div>