<h1 mat-dialog-title>Edit</h1>
<div mat-dialog-content>
    <form [formGroup]="form">
        <div [ngClass]="{ 'hidden-input': control.type==''}" class="form-group" *ngFor="let control of form.userEditControls()">
            <mat-select [value]="" placeholder="{{control.placeholder}}" [errorStateMatcher]="control.matcher" formControlName="{{control.modelProperty}}" *ngIf="control.type == 'select'">
                <mat-option *ngFor="let group of dataArray" [value]="group.id">{{group.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="control.type == 'select' && control.touched && control.invalid">{{control.getValidationMessages()[0]}}</mat-error>
            <mat-form-field *ngIf="control.type != 'select'">
                <input matInput [errorStateMatcher]="control.matcher" formControlName="{{control.modelProperty}}" type="{{control.type}}" placeholder="{{control.placeholder}}">
                <mat-error *ngFor="let message of control.getValidationMessages() ">{{message}}</mat-error>
                <!--<mat-error *ngIf="control.status === 'VALID'">Username is available</mat-error>-->
            </mat-form-field>
            <div *ngIf="control.status === 'PENDING'">Checking...</div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button (click)="save()">Save</button>
</div>