/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  min-width: 150px;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

/* Structure */
.example-container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  min-width: 300px;
  position: relative;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.example-table {
  overflow: auto;
  min-height: 300px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: #fafafa;/*rgba(0, 0, 0, 0.15)*/;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px; /*To make top sidenav visiable*/
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
.mat-toolbar-multiple-rows {
  min-height: 64px;
  height: 100%;
}
.sidenav-toolbar{
  /* padding-top: 64px; */
}
.sidenav-toolbar .mat-toolbar-row{
  padding: 0px;
}
.sidenav-toolbar .mat-toolbar-row mat-icon{
  margin-left: 10px;
}
.sidenav-toolbar .mat-toolbar-row a{
  padding: 20px 0px 0px 5px;
  height: inherit;
  width: 100%;
}
.sidenav-toolbar .mat-toolbar-row a:hover{
  text-decoration: none;
}
/* style for routerActiveLink*/
.active-mat-toolbar-row{
  background-color: #404b88;
}
.sidenav-toolbar .mat-toolbar-row:hover:not(:first-child){
  background-color: #404b88;
}
.sidenav-toolbar .mat-toolbar-row span{
  padding-left: 20px;
}

/*User page*/
.user-table-info{
  margin-top: 37px;
}
.table-search-panel{
  float: right;
  margin-bottom: 0px;
}

/*Auth page*/
.auth-container{
  margin: auto;
  width: 40%;
  height: 100%;
  position: relative;
}
.auth-container .mat-card{
  height: 350px;
  top: 40%;
  transform: translateY(-50%);
  justify-content: center;
}
.auth-container .mat-card .mat-toolbar{
  margin-bottom: 20px;
}
.auth-logo{
  flex: 1 1 auto;
  text-align: center;
}
.auth-container .form-group{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.mat-form-input{
  width: auto;
}
.mat-input-container{
  width: 50%;
  text-align: center;
}
.auth-container .mat-form-field{
  text-align: center;
}
.auth-container button{
  width: 50%;
}